
@font-face {
  font-family: 'GillSansMTPro-Light';
  src: url('GillSansMTPro-Light.eot?#iefix') format('embedded-opentype'),  url('GillSansMTPro-Light.otf')  format('opentype'),
	     url('GillSansMTPro-Light.woff') format('woff'), url('GillSansMTPro-Light.ttf')  format('truetype'), url('GillSansMTPro-Light.svg#GillSansMTPro-Light') format('svg');
  font-weight: normal;
  font-style: normal;
}
