$dir : 'style-parts/fonts/';

/**
 * =====================================================
 * ==================== Gill Sans ======================
 * =====================================================
 * 31.07.2016
 */
@font-face {
	font-family : 'emoGillsans';
	src         : url('#{$dir}GillSansMedium/GillSansMTPro-Medium.eot');
	src         : url('#{$dir}GillSansMedium/GillSansMTPro-Medium.woff') format('woff'),
	url('#{$dir}GillSansMedium/GillSansMTPro-Medium.ttf') format('truetype');
}

@font-face {
	font-family : 'gillsans-light';
	src         : url('#{$dir}GillSansLight/GillSansMTPro-Light.eot');
	src         : url('#{$dir}GillSansLight/GillSansMTPro-Light.woff') format('woff'),
	url('#{$dir}GillSansLight/GillSansMTPro-Light.ttf') format('truetype');
}

//Gil Sans
$gilsans : "emoGillsans";
$gilsansLight : "gillsans-light";
.gilsans {
	font-family : $gilsans, sans-serif !important;
}

.gilsansLight {
	font-family : $gilsansLight, sans-serif !important;
}

/**
 * ==================================================
 * ==================== Oswald ======================
 * ==================================================
 * 31.07.2016
 */
// Light
@font-face {
	font-family : 'OswaldLight';
	src         : url('#{$dir}oswald/oswald-light-webfont.woff2') format('woff2'),
	url('#{$dir}oswald/oswald-light-webfont.woff') format('woff');
	font-weight : normal;
	font-style  : normal;
}

// Regular
@font-face {
	font-family : 'OswaldRegular';
	src         : url('#{$dir}oswald/oswald-regular-webfont.woff2') format('woff2'),
	url('#{$dir}oswald/oswald-regular-webfont.woff') format('woff');
	font-weight : normal;
	font-style  : normal;
}

// Demibold
@font-face {
	font-family : 'OswaldDemiBold';
	src         : url('#{$dir}oswald/oswald-demibold-webfont.woff2') format('woff2'),
	url('#{$dir}oswald/oswald-demibold-webfont.woff') format('woff');
	font-weight : normal;
	font-style  : normal;
}

// Bold
@font-face {
	font-family : 'OswaldBold';
	src         : url('#{$dir}oswald/oswald-bold-webfont.woff2') format('woff2'),
	url('#{$dir}oswald/oswald-bold-webfont.woff') format('woff');
	font-weight : normal;
	font-style  : normal;
}

// Oswald
$OswaldLight : 'OswaldLight';
$OswaldRegular : 'OswaldRegular';
$OswaldDemiBold : 'OswaldDemiBold';
$OswaldBold : 'OswaldBold';
.OswaldLight {
	font-family : $OswaldLight, sans-serif !important;
}

.OswaldRegular {
	font-family : $OswaldRegular, sans-serif !important;
}

.OswaldDemiBold {
	font-family : $OswaldDemiBold, sans-serif !important;
}

.OswaldBold {
	font-family : $OswaldBold, sans-serif !important;
}

/**
 * =======================================================
 * ==================== ProximaNova ======================
 * =======================================================
 */
@font-face {
	font-family   : 'ProximaNova-Light';
	src           : url('#{$dir}ProximaFont/ProximaNova-Light_gdi.eot');
	src           : url('#{$dir}ProximaFont/ProximaNova-Light_gdi.eot?#iefix') format('embedded-opentype'),
	url('#{$dir}ProximaFont/ProximaNova-Light_gdi.woff') format('woff'),
	url('#{$dir}ProximaFont/ProximaNova-Light_gdi.ttf') format('truetype'),
	url('#{$dir}ProximaFont/ProximaNova-Light_gdi.svg#ProximaNova-Light') format('svg');
	font-weight   : 300;
	font-style    : normal;
	font-stretch  : normal;
	unicode-range : U+0020-2666;
}

@font-face {
	font-family   : 'ProximaNova-Regular';
	src           : url('#{$dir}ProximaFont/ProximaNova-Regular_gdi.eot');
	src           : url('#{$dir}ProximaFont/ProximaNova-Regular_gdi.eot?#iefix') format('embedded-opentype'),
	url('#{$dir}ProximaFont/ProximaNova-Regular_gdi.woff') format('woff'),
	url('#{$dir}ProximaFont/ProximaNova-Regular_gdi.ttf') format('truetype'),
	url('#{$dir}ProximaFont/ProximaNova-Regular_gdi.svg#ProximaNova-Regular') format('svg');
	font-weight   : 400;
	font-style    : normal;
	font-stretch  : normal;
	unicode-range : U+0020-2666;
}

@font-face {
	font-family   : 'ProximaNova-RegularIt';
	src           : url('#{$dir}ProximaFont/ProximaNova-RegularIt_gdi.eot');
	src           : url('#{$dir}ProximaFont/ProximaNova-RegularIt_gdi.eot?#iefix') format('embedded-opentype'),
	url('#{$dir}ProximaFont/ProximaNova-RegularIt_gdi.woff') format('woff'),
	url('#{$dir}ProximaFont/ProximaNova-RegularIt_gdi.ttf') format('truetype'),
	url('#{$dir}ProximaFont/ProximaNova-RegularIt_gdi.svg#ProximaNova-RegularIt') format('svg');
	font-weight   : 400;
	font-style    : italic;
	font-stretch  : normal;
	unicode-range : U+0020-2666;
}

@font-face {
	font-family   : 'ProximaNova-Bold';
	src           : url('#{$dir}ProximaFont/ProximaNova-Bold_gdi.eot');
	src           : url('#{$dir}ProximaFont/ProximaNova-Bold_gdi.eot?#iefix') format('embedded-opentype'),
	url('#{$dir}ProximaFont/ProximaNova-Bold_gdi.woff') format('woff'),
	url('#{$dir}ProximaFont/ProximaNova-Bold_gdi.ttf') format('truetype'),
	url('#{$dir}ProximaFont/ProximaNova-Bold_gdi.svg#ProximaNova-Bold') format('svg');
	font-weight   : 700;
	font-style    : normal;
	font-stretch  : normal;
	unicode-range : U+0020-2666;
}

// Proxima Nova
$ProximaNova-Light : 'ProximaNova-Light';
$ProximaNova-Regular : 'ProximaNova-Regular';
$ProximaNova-RegularIt : 'ProximaNova-RegularIt';
$ProximaNova-Bold : 'ProximaNova-Bold';
.ProximaNova-Light {
	font-family : $ProximaNova-Light, sans-serif !important;
}

.ProximaNova-Regular {
	font-family : $ProximaNova-Regular, sans-serif !important;
}

.ProximaNova-RegularIt {
	font-family : $ProximaNova-RegularIt, sans-serif !important;
}

.ProximaNova-Bold {
	font-family : $ProximaNova-Bold, sans-serif !important;
}

/**
 * =================================================
 * ==================== Bebas ======================
 * =================================================
 * 23.10.2016
 */
@font-face {
	font-family : 'bebas_neuebold';
	src         : url('#{$dir}bebas/bebasneue_bold-webfont.woff2') format('woff2'),
	url('#{$dir}bebas/bebasneue_bold-webfont.woff') format('woff');
	font-weight : normal;
	font-style  : normal;
}

@font-face {
	font-family : 'bebas_neuelight';
	src         : url('#{$dir}bebas/bebasneue_light-webfont.woff2') format('woff2'),
	url('#{$dir}bebas/bebasneue_light-webfont.woff') format('woff');
	font-weight : normal;
	font-style  : normal;
}

@font-face {
	font-family : 'bebas_neue_regularregular';
	src         : url('#{$dir}bebas/bebasneue_regular-webfont.woff2') format('woff2'),
	url('#{$dir}bebas/bebasneue_regular-webfont.woff') format('woff');
	font-weight : normal;
	font-style  : normal;
}

$bebas : "bebas_neue_regularregular";
$bebasLight : "bebas_neuelight";
$bebasBold : "bebas_neuebold";
.bebas {
	font-family : $bebas, sans-serif;
}

.bebasLight {
	font-family : $bebasLight, sans-serif;
}

.bebasBold {
	font-family : $bebasBold, sans-serif;
}