#footer {
	margin-bottom : 0;
	font          : normal 100 16px $baseFont;
	padding       : 25px 0 55px;
}

.company-copyrights {
	display         : flex;
	justify-content : space-around;
	align-items     : center;
	font            : normal 12px $baseFont;
	color           : $text-color;
	font-weight     : 700;
}