.site-header {
	position: static;
	width: 100%;
	z-index: 9;
	@include transition();
}

.stick-to-top {
	padding-top : 153px;
	.site-header {
		position : fixed;
		top : 0;
		//background-color: #eee;
	}
}
.header-with-bg {
	background-color: #fff;
}

body.admin-bar {
	.stick-to-top {
		.site-header {
			padding-top : 30px;
			/*Desktop*/
			/*Tablet*/
			@media (max-width : 951px) {
				padding-top : 50px;
			}
		}
	}
}

.disable-scroll {
	overflow : hidden;
}
.enable-scroll {
	overflow: visible;
}

.site-logo {
	display       : block;
	margin-top    : 15px;
	margin-bottom : 15px;
	> img {
		display : block;
		width   : 100%;
		height  : auto;
		max-width : 300px;

	}
	/*Mobile*/
	@media (max-width : 767px) {
		> img {
			display      : block;
			width        : 90%;
			height       : auto;
			margin-left  : auto;
			margin-right : auto;
		}
	}
}

.default-alicelf-navbar {
	.current-menu-item {
		a {
			color      : white;
			background : transparentize($mainColor, 0.2);
			&:hover {
				background : transparentize($mainColor, 0.5);
			}
		}
	}
}

#mobile-menu-trigger {
	position : relative;
	> button {
		position : absolute;
		z-index  : 99;
		right    : 5px;
		top      : 5px;
		&.tcon-transform {
			.tcon-menu__lines {
				&:after,
				&:before {
					background-color : #fff;
				}
			}
		}
	}
}

.pos-static-tablet {
	/*Tablet*/
	@media (max-width : 951px) {
		position : static;
	}
}

/**
 * ==================== Navbar ======================
 * 17.03.2016
 */
.header-type-2 {
	.main-navigation {
		/*Desktop*/
		@media (min-width : 952px) {
			display : block !important;
			ul.nav {
				margin-top : 50px;
			}
		}
	}
}
.main-navigation {

	@include transition();

	/*Desktop*/
	@media (min-width : 952px) {
		display : block !important;
	}

	/*Tablet*/
	@media (max-width : 951px) {
		background-color  : transparentize($gray-dark, .1);
		position          : absolute;
		top               : 0;
		left              : 0;
		width             : 100%;
		height            : 100%;
		min-height        : 1000px;
		z-index           : 98;
		ul.nav {
			display    : block;
			width      : 90%;
			float      : none;
			margin     : 50px auto 0;
			max-width  : 500px;
			background : url("img/mobile-nav.png");
			overflow-y: auto ;
			max-height: 58%;
		}
		li {
			display    : block;
			float      : none;
			border-top : 1px solid rgb(83, 83, 83);
			&:not(:last-of-type) {
				border-bottom : 1px solid rgb(34, 34, 34);
			}
			a {
				padding-top    : 10px !important;
				padding-bottom : 10px !important;
				color          : #fff;
				&:focus {
					background-color : transparent !important;
					color            : #fff !important;
				}
				&:hover {
					background-color : rgba(255, 255, 255, 0.35);
					color            : #fff !important;
				}
			}
			&.active {
				> a {
					background-color : rgba(255, 255, 255, 0.35) !important;
					color            : #fff !important;
				}
			}
			&.menu-item-has-children {
				.sub-menu {
					height     : 0;
					box-shadow : none;
					overflow   : hidden;
					&.shown-submenu {
						height : auto;
					}
				}
			}
		}

		opacity : 0;
		.nav.navbar-nav {
			@include transition();
			-ms-transform     : scale(.5); /* IE 9 */
			-webkit-transform : scale(.5); /* Safari */
			transform         : scale(.5);
		}

		&.open-menu {

			opacity : 1;
			.nav.navbar-nav {
				-ms-transform     : scale(1); /* IE 9 */
				-webkit-transform : scale(1); /* Safari */
				transform         : scale(1);
			}
		}

		.dropdown-menu {
			background   : none;
			padding-left : 0;
			display      : block;
			float        : none;
			position     : static;
			margin       : 0;
			> li {
				> a {
					padding-left : 25px;
				}
			}
		}
		.caret {
			display                 : inline-block;
			font                    : normal normal normal 17px FontAwesome;
			font-size               : inherit;
			text-rendering          : auto;
			-webkit-font-smoothing  : antialiased;
			-moz-osx-font-smoothing : grayscale;
			position                : absolute;
			z-index                 : 1;
			right                   : 0;
			top                     : 0;
			margin                  : 0;
			width                   : 40px;
			height                  : 40px;
			border                  : none;
			border-left             : 1px solid transparentize($gray-lighter, .8);
			text-align              : center;
			line-height             : 40px;
			&:before {
				content : "\f067";
				color   : rgba(255, 255, 255, 0.36);
			}
			&.right-caret {
				-webkit-transform : rotate(0deg);
				-moz-transform    : rotate(0deg);
				transform         : rotate(0deg);
			}
			&.fa-minus {
				&:before {
					content : "\f068";
				}
			}
		}

	}

}

body {
	/*Tablet*/
	@media (max-width : 951px) {
		overflow-x : hidden;
	}

	&.admin-bar {
		/*Mobile*/
		@media (max-width : 768px) {
			ul.nav {
				margin-top : 100px;
			}
		}
	}
}