@mixin gradient($color1 : $lighten, $color2 : $mainColor) {
  background-color  : $color2;
  background        : -webkit-gradient(linear, left 0%, left 100%, from($color1), to($color2));
  background        : -webkit-linear-gradient(top, $color1, 0%, $color2, 100%);
  background        : -moz-linear-gradient(top, $color1 0%, $color2 100%);
  background        : -ms-linear-gradient(top, $color1 0%, $color2 100%);
  background        : linear-gradient(to bottom, $color1 0%, $color2 100%);
  background-repeat : repeat-x;
  filter            : progid:DXImageTransform.Microsoft.gradient(startColorstr='#ie-hex-str($color1)', startColorstr='#ie-hex-str($color2)', GradientType=0);
}

@mixin transition($time : 0.3s, $prop : all) {
  -webkit-transition : $prop, $time;
  -moz-transition    : $prop, $time;
  -o-transition      : $prop, $time;
  transition         : $prop, $time;
}

@mixin animateElem($animationName : spin, $duration : 10, $times : infinite, $type : linear) {
  -webkit-animation : $animationName $duration+s $times $type;
  animation         : $animationName $duration+s $times $type;
}

.defButton {
  display             : inline-block;
  padding             : 6px 12px;
  margin-bottom       : 0;
  font-size           : 14px;
  font-weight         : normal;
  line-height         : 1.42857;
  text-align          : center;
  white-space         : nowrap;
  vertical-align      : middle;
  cursor              : pointer;
  border              : 1px solid transparent;
  -webkit-user-select : none;
  -moz-user-select    : none;
  -ms-user-select     : none;
  user-select         : none;
  border-radius: 1px;
  &:hover {
    color           : #333333;
    text-decoration : none;
  }
  &:focus {
    outline : thin dotted #333333;
  }
  &:active, &.active {
    background-image : none;
    outline          : 0;
    box-shadow       : inset 0 3px 5px $opacity;
  }
}

@mixin primButton($backGround : $mainColor, $color : white) {
  @extend .defButton;
  color            : $color;
  background-color : $backGround;
  border-color     : darken($backGround, 10%);
  &:hover {
    color            : $color;
    background-color : darken($backGround, 10%);
    border-color     : darken($backGround, 20%);
  }
}

@mixin textFields {
  border-radius : 0;
  padding       : 4px;
  border        : 1px solid #cccccc;
  @include transition;
  &:focus {
    outline      : 0;
    border-color : $mainColor;
    box-shadow   : inset 0 1px 1px transparentize($mainColor, 0.6), 0 0 8px $opacity;
  }
}