/*
 * Include parts
 */
@import "../vars";
@import "../mix";
// Components
@import "admin-menu-icons";
@import "admin-bootstrap/bootstrap-min.css";
@import "../animate";
@import "../loaderanimation";

body.login {
	@include gradient($azure, $brand-color);

	#login {
		width : 500px;
		a {
			color : #fff;
		}
	}
}

input[type=submit] {
	@include primButton();
}

textarea,
input[type="text"],
input[type="email"],
input[type="password"] {
	@include textFields();
}

/****************************
 *        Site Style        *
 ****************************/

#ed_toolbar {
	-moz-box-sizing : content-box;
	box-sizing      : content-box;
}

#menu-to-edit, .theme {
	-moz-box-sizing : content-box;
	box-sizing      : content-box;
	* {
		-moz-box-sizing : content-box;
		box-sizing      : content-box;
	}
}

#menu-to-edit {
	p {
		textarea,
		input[type="text"] {
			-moz-box-sizing : border-box;
			box-sizing      : border-box;
		}
	}
}

.brdbox {
	-moz-box-sizing : border-box;
	box-sizing      : border-box;
}

.content-box {
	-moz-box-sizing : content-box;
	box-sizing      : content-box;
}

body {

	&.post-type-acf-field-group {
		#wpbody {
			.acf-hl {
				[class*="acf-input"] {
					@extend .content-box;
				}
			}
		}
	}

}

.acf-gallery .acf-gallery-toolbar {
	height : auto;
}

//Additional Styles
#screen-meta-links {
	a.show-settings {
		height : auto;
		&:focus {
			outline    : none;
			box-shadow : none;
		}
	}
}

#toplevel_page_alicelf_theme_setup_options {
	div.wp-menu-image {
		&:before {
			font-family : alicelf-icon;
			content     : "a";
		}
	}
}

.redux-group-tab-link-li {
	&.active {
		> a {
			width : auto !important;
		}
	}
}

.redux-main #redux-sticky #info_bar {
	height : 46px;
}

#convert-tables-section {
	min-height : 20px;
}

.main-theme-titledescr {
	color     : #fff;
	opacity   : .5;
	font-size : 13px;
}

/**
 * ==================== User Profile ======================
 * 15.04.2016
 */
#user-profile-additional-meta {
	th {
		vertical-align : middle;
		text-align     : center;
	}
}

.img-wrap {
	padding          : 5px;
	border           : 1px solid #ccc;
	border-radius    : 3px;
	background-color : #fff;
	position         : relative;
	display          : inline-block;
	margin-bottom    : 10px;
	max-width        : 400px;
	img {
		width  : 100%;
		height : auto;
	}
	i {
		position         : absolute;
		right            : 5px;
		top              : 5px;
		width            : 15px;
		height           : 15px;
		text-align       : center;
		color            : #fff;
		line-height      : 15px;
		background-color : $dangerColor;
		cursor : pointer;
	}
	&.hidden {
		display: none;
	}
}