$mainColor : #000;
$OswaldLight : 'OswaldLight';
$OswaldRegular : 'OswaldRegular';
$OswaldDemiBold : 'OswaldDemiBold';
$OswaldBold : 'OswaldBold';
$baseFont : "Open Sans", sans-serif;

@mixin transition($time : 0.3s, $prop : all) {
	-webkit-transition : $prop, $time;
	-moz-transition    : $prop, $time;
	-o-transition      : $prop, $time;
	transition         : $prop, $time;
}

@mixin fontAwesomeItem {
	display                 : inline-block;
	font                    : normal normal normal 14px/1 FontAwesome;
	font-size               : inherit;
	text-rendering          : auto;
	-webkit-font-smoothing  : antialiased;
	-moz-osx-font-smoothing : grayscale;
}

.followusoninstagram {
	font            : normal 16px $baseFont;
	color           : #000;
	font-weight     : 900;
	text-transform  : uppercase;
	text-align      : center;
	display         : flex;
	flex-direction  : row;
	justify-content : center;
	margin-bottom   : 10px;
	&:before, &:after {
		flex-grow        : 1;
		height           : 2px;
		content          : '\a0';
		background-color : #f5f5f5;
		position         : relative;
		top              : 0.8em;
	}
	&:before {
		margin-right : 50px;
		margin-left  : 2%;
	}
	&:after {
		margin-left  : 50px;
		margin-right : 2%;
	}
}

#insta-reel {
	opacity : 0;
	@include transition();
}

#instagram-footer-widget {
	/*To tablet and desktop*/
	@media (min-width : 768px) {
		#sbi_images .sbi_item {
			padding : 0 !important;
		}
		.sbi_item, .sbi_type_image, .sbi_type_video {
			width    : 197px !important;
			height   : 194px !important;

			overflow : hidden;
			a {
				max-height : 205px !important;
			}
		}

		#footer-instawrapper {
			overflow-x : hidden;
			.mCSB_scrollTools.mCSB_1_scrollbar.mCSB_scrollTools_horizontal {
				width       : 97%;
				margin-left : 1.5%;
				position    : relative;
				&:before, &:after {
					@include fontAwesomeItem;
				}
				&:before {
					content  : "\f060";
					position : absolute;
					left     : -18px;
					top      : 1px;
				}
				&:after {
					content  : "\f061";
					position : absolute;
					right    : -18px;
					top      : 1px;
				}
			}
		}
		.mCSB_horizontal.mCSB_inside > .mCSB_container {
			margin-bottom : 0 !important;
		}
		.mCSB_1_scrollbar {
			opacity : 0;
			@include transition();
		}
		&:hover {
			.mCSB_1_scrollbar {
				opacity : 1;
			}
		}
	}
}

#mobile-instagramm-reel {
	#sbi_images {
		> .sbi_item {
			width : 25% !important;
			float : left !important;
			a {
				max-height : 100px !important;
			}
		}
	}
}